<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript' src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type='text/javascript' src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    </head>
  <body onload="initialize()">
    <h1> Additional Information </h1>
    <div id="private_neglect"><h2>Private Neglect</h2>
        <img src="http://f.cl.ly/items/1n0d1a3n0g2d1w1b370t/Screen%20Shot%202013-04-24%20at%209.29.26%20PM.png"/>
    </div>
    <br/>
    <br/>
    <div id="public_denegration"><h2>Public Denegration</h2>
        <img src="http://f.cl.ly/items/1H383Q0a0Y2K0m1c4618/Screen%20Shot%202013-04-24%20at%209.25.50%20PM.png"/>
    </div>
    <br/>
    <br/>
    <div id="public_social"><h2>Public Social Disorder</h2>
        <img src="http://f.cl.ly/items/163W2T121C2x2S0M2W2l/Screen%20Shot%202013-04-24%20at%209.30.42%20PM.png" />
    </div>
    <br/>
    <br/>
    <div id="social_strife"><h2>Social Strife</h2>
        <img src="http://f.cl.ly/items/071q142f2T1l0C3C1T41/Screen%20Shot%202013-04-24%20at%209.30.59%20PM.png" />
    </div>
    <br/>
    <br/>
    <div id="alcohol"><h2>Alcohol</h2>
        <img src="http://f.cl.ly/items/0I2X2f2O410v1c162p32/Screen%20Shot%202013-04-24%20at%209.31.19%20PM.png" />
    </div>
    <br/>
    <br/>
    <div id="interpersonal_violence"><h2>Interpersonal Violence</h2>
        <img src="http://f.cl.ly/items/3j2h1r1F2B0G170q383U/Screen%20Shot%202013-04-24%20at%209.32.21%20PM.png" />
    </div>
    <br/>
    <br/>
    <div id="guns"><h2>Guns</h2>
        <img src="http://f.cl.ly/items/0T03270V2R1M0B1q3A0L/Screen%20Shot%202013-04-24%20at%209.32.43%20PM.png" />
    </div>
    <br/>
    <br/>
    <div id="major_medical"><h2>Major Medical</h2>
        <img src="http://f.cl.ly/items/2B402B1U1730372W1g1R/Screen%20Shot%202013-04-24%20at%209.43.30%20PM.png" />
    </div>
    <br/>
    <br/>
    <div id="youth_health"><h2>Youth Health</h2>
        <img src="http://f.cl.ly/items/3v15463y0z0s2k0e1l3L/Screen%20Shot%202013-04-24%20at%209.44.02%20PM.png" />
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


  </body>
</html>